body{
    font-family: 'Montserrat', sans-serif;
    background-color: #aa60c0;
}
#title {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    height: 400px;
    width: fit-content;
    margin: auto;
    border: 4px solid rgba(1, 1, 1, 1);
    background-color: gray;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid rgba(1, 1, 1, 1);
    padding: 1px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
}

#display-screen {
    background-color: gray;
    height: 80px;
    width: 400px;
    margin: auto;
    border: 4px solid rgba(1, 1, 1, 1);
    text-align: right;
    border-bottom: 0px solid rgba(1, 1, 1, 1);
}

#display-numbers {
    display: inline;
    color: white;
    font-size: 70px;
}
.calculator-buttons{
    background-color: #ff6200;
    text-align: center;
    font-size: 60px;
    height: 74px;
    width: 94px;
    border-radius: 10px;
    border: 0px;
}